.home-link {
  grid-area: home;
}

.home-link:hover {
  background-color: #f47d07;
}

.calculator-link {
  grid-area: calculator;
}

.calculator-link:hover {
  background-color: #fd4f00;
}

.news-link {
  grid-area: news;
}

.news-link:hover {
  background-color: #e30613;
}

.login-link {
  grid-area: login;
}

.login-link:hover {
  background-color: #2f255c;
}

.about-link {
  grid-area: about;
}

.about-link:hover {
  background-color: #e50159;
}

.link-container {
  height: 100vh;
  display: grid;
  grid-template-areas:
    'home home home home home home'
    'news about about about login login'
    'news calculator calculator calculator calculator calculator';
  gap: 10px;
  background-color: white;
  padding: 10px;
}

.link-container > div {
  /* background-color: pink; */
  text-align: center;
  font-size: 30px;
  padding: 20px, 0;
}
