.calculator-container {
    height: 100vh;
    background-image: url('../../../assets/pexels-pixabay-159045.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.calculator-form-container {
    margin: 30px;
    height: 90vh;
    border: solid .5px black;   
    border-radius: 30px;
    /* background: rgba(255, 255, 255, 0.575); */
    /* filter: blur(10px); */
    backdrop-filter: blur(10px);
    line-height: 70px;
    padding-left: 50px;
}

.calculator-form {
    display: flex;
    font-size: 1.5em;
    font-family: 'Cormfaat', 'sans-serif';
    font-weight: 300;
}

.input-container {
    /* padding-left: 30%; */
    line-height: normal;
}

.label-container {
    padding-right: 50%;
    line-height: 40px;
}

.calc-form-input {
    padding-left: 10px;
    border-radius: 30px;
    border: solid 1px black;
    background-color: white;
    height: 50px;
    width: 300px;
    font-size: .9em;
    font-weight: 300;
    font-family: 'Cormfaat', 'sans-serif';
    color: gray;
}

.cost-container {
    line-height: 70px;
    font-size: 1.5em;
    font-weight: 300;
    font-family: 'Cormfaat', 'sans-serif';
}